/* @import url(../lib/bootstrap/bootstrap.css); */
* {
    transition: .3s;
}

*:hover {
    transition: .3s;
}
body {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    font-size: 16px;
    background-image: url(../img/wood.jpg);
    background-size: cover;
  }

  body.rtl {
    direction: rtl;
}

  header {
    position: absolute;
    right: 0;
    /* height: 30px; */
    padding: 0px;
    margin: 20px;
}

header > img {
    cursor: pointer;
    float: right;
    margin: 0 5px;
    height: 35px;
    width: 50px;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1 {
    font-family:'ZCOOL KuaiLe', cursive;
    text-align: center;
    color: antiquewhite;
    line-height: 100px;
    /* padding: 30px 0; */
    font-size: 3em;
    margin: 0;
}

h1:hover {
    cursor: default;
}
.logo {
    height: 100px;
    width: auto;
    display: inline-block;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}
.btn-container button, .submit-btn {
    font-size: 1.2em;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.7);
    color: antiquewhite;
    padding: 10px;
    cursor: pointer;
}

.btn-container button:hover, .submit-btn:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgb(213, 243, 45);
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.page-points {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10px;
}

.page-point {
    width: 10px;
    height: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    text-align: center;
}

.shine {
animation: shine .3s ease-in-out;
background-color: rgba(200, 200, 200, 1);
border: 1px solid rgba(255, 255, 255, 1);
}

@keyframes shine {
    0% {
        border: 1px solid rgba(255, 255, 255, 0.7);
        background-color: rgba(0, 0, 0, 0.7);
    }
    25% {
        border: 2px solid rgba(255, 255, 255, 0.8);
        background-color: rgba(50, 50, 50, 0.8);
    }
    50% {
        border: 3px solid rgba(255, 255, 255, 0.8);
        background-color: rgba(70, 70, 70, 0.8);
    }
    75% {
        border: 2px solid rgba(255, 255, 255, 0.9);
        background-color: rgba(100, 100, 100, 0.9);
    }
    100% {
        border: 1px solid rgba(255, 255, 255, 1);
        background-color: rgba(200, 200, 200, 1);
    }
}



.main {
    display: flex;
    flex-direction: row-reverse;
}
.modal-container {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 55vh;
    height: 70vh;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 13px;
    z-index: 2;

}

.book-details {
    position: relative;
    flex: 1;
    width: 10%;
    padding: 5px;
    min-width : 200px;
    max-width : 200px;
    text-align: center;
    color: black;
  }


span button {
    width: 100%;
    margin: 2px 2px;
    border-radius: 13px;
}

span button:hover {
    opacity : 0.5;
}


table {
    /* margin: 0 20% ; */
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.9;
    width: 100%;
    /* margin: 0 auto; */
    border-radius: 13px;
    margin-top: 20px;

}
thead {
    font-size: 25px;
}
.th-book-id {
    width: 20px;
}
.th-book-price {
    width: 60px;
}
.th-book-actions {
    width: 30px;
}

.th-book-add {
    width: 10px;
    text-align: center;
}

table th {
    color: white;
    padding: 5px;
}

table td {
    color: antiquewhite;
    padding-left: 5px;
    margin: 20px 0;
}
.book-name-col {
    padding-left: 15%;
    width: 600px;
}

.rtl .book-name-col {
    padding-left: unset;
    padding-right: 15%;
}

.book-actions-col {
    /* width: 30px; */
    display: flex;
    flex-direction: row;
}

.book-actions-col button {
    border-radius: 13px;
    margin: 5px;
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px white;
}
.book-actions-col button:hover {
    box-shadow: none;
    opacity: 1;
}

.books-content {
    width: 100%;
}
.books-content tr {
    border-top: 2px solid black;
}




.book-details img {
    width: 100%; 
    margin-top: 10px;
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 1.1em;
    color: white;
    transform: translate(-50%, -50%);
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    border: 3px solid black;
    border-radius: 14px;
}

  .modal-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    max-width: 100%;
    height: 30%;
    text-align: center;
    margin: 10px;
}
.modal-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    max-width: 100%;
    height: 30%;
    font-size: 1em;
    max-height: 100%;
    text-align: center;
    padding-top: 20px;

    z-index : 1;
}

.close {
/* visibility:hidden; */
display: none;
}

.close-btn {
    position: absolute;
    font-size: 2.5em;
    top: 0%;
    left: 1%;
    padding: 0;
    margin:0;   
    color: black;
    cursor: pointer;
}

.modal-rate {
    width: 70%;
    max-width: 100%;
    height: 30%;
    font-size: 3em;
    max-height: 100%;
    text-align: center;
    padding-top: 50px;
    z-index : 3;
}




.modal-rate button,.modal-add button {
    /* position: relative; */
    border: none;
    border-radius: 13px;
    background-color:red;
    color: white;
    font-style: oblique;
    text-align: center;
    font-size: 0.3em;
    width: 60px;
    height: 30px;
    top: 60%;
}

.modal-rate .green {
    transition: 0.3s;
    background-color: green;
    border: 7px solid green;
}




.book-rate img {
    height: 30px;
    width: 30px;
}

ul {
    font-size: 0.5em;
    /* position: absolute;fmodal-rate */
    list-style: none;
    display: flex;
    flex-direction: row;
}

.rating-system {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.rating-list {
    margin: 0 auto;
}
.rating-list > li {
    margin: 0 5px;
}

li img {
    position: relative;
    max-width: 100%;
    margin-right: 15px;
    height: 35px;
    width: 35px;
}

 .plus {
    position: absolute;
    right: 14px;
    bottom: -14px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 13px;
    /* font-size: 2em; */
    /* font-size: 1.5em; */
    border-radius: 50%;
    padding: 15px;
    color: rgba(13, 200, 13, 1);
    background-color:rgba(200, 15, 15, 1);
    cursor: pointer;
}
.rtl .plus {
    left: 5px;
    right: unset;
}

.plus:hover {
    color: rgba(20, 250, 30, 1);
    background-color: rgba(250, 30, 30, 1);
}

@media screen and (max-width: 825px){
    h1 {
        font-size: 1.5em;
    }
    .logo-container {
        height: 80px;
    }
    .logo {
        height: 70px;
        width: auto;
    }
    .btn-container {
        margin:  0;
        font-size: 0.5em;
    }

    table {
        width: 100%;
        margin: 0;
    }
    table td {
        margin: 0;

    }

    thead {
        font-size: 1em;
    }

    .book-actions-col button {
        border-radius: 13px;
        margin: 2px;
        color: white;
        background-color: black;
        opacity: 0.7;
        padding: 10px;
        border: none;
        box-shadow: 1px 1px white;
    }

    .page-point {
        width: 5px;
        height: 5px;
    }

    .modal-update {
        width: 70%;
        max-width: 100%;
        height: 40%;
        text-align: center;
        margin: 5px;
    }

    .modal-container {
        width: 60vh;
        height: 70vh;
    }
    .modal-container img {
        width: 50%;
        height: auto;
    }
    .book-rate img {
        width: 10%;
        height: auto;
    }
    .centered {
        font-size: 0.7em;
    }

    
.modal-rate {
    width: 70%;
    max-width: 100%;
    height: 30%;
    font-size: 1em;
    max-height: 100%;
    text-align: center;
    padding-top: 20px;
    z-index : 3;
}


.modal-rate img {
    width: 20px;
    height: auto;
}

.modal-rate button,.modal-add button {
    /* position: relative; */
    border: none;
    border-radius: 13px;
    background-color:red;
    color: white;
    font-style: oblique;
    text-align: center;
    font-size: 1em;
    width: 50px;
    height: 30px;
    top: 60%;
}

.plus {
    position: absolute;
    right: 14px;
    bottom: -8%;
    width: unset;
    height: unset;
    text-align: center;
    line-height: 13px;
    /* font-size: 2em; */
    /* font-size: 1.5em; */
    border-radius: 50%;
    padding: 8px;
    color: rgba(13, 200, 13, 1);
    background-color:rgba(200, 15, 15, 1);
    cursor: pointer;
}
.rtl .plus {
    left: 5px;
    right: unset;
}
.submit-btn {
    font-size: 0.8em;
    padding: 2px;
} 

}